<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add an Assignment</h1>
<form action="/assignment-added" method="POST">
Assignment Name: <input type ="text" name="name">
<br>
Your Score: <input type="number" name="score">
<br>
Total Possible Score <input type ="number" name="total">
<br>
<input type="checkbox" name="complete" value="true">Have you completed this assignment?
<br>
<input type="submit" value="Add">
<a href="/">Never Mind</a>
</form>
    
</body>
</html>