<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Assignment Added</h1>
    <p> This Assignment was added</p>
    <p>Name: {{assignment.name}}</p>
    <p>Score: {{assignment.score}}</p>
    <p>Total: {{assignment.total}}</p>
    <p>Completed {{assignment.completed}}</p>

    <a href="/"> See All Assignments</a>
    
</body>
</html>